<div nz-row>
    <div nz-row class="header-content">
      <h1>Message manager</h1>
      &nbsp;
      &nbsp;
      <form [formGroup]="searchForm">
        <nz-input-group [nzSuffix]="suffixIconSearch" class="custom-input">
          <input (keyup.enter)="searchByTag()" type="text" nz-input placeholder="Recherche par tag" formControlName="tag" id="tag"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span (click)="searchByTag()" nz-icon nzType="search"></span>
          <span (click)="discardResearch();" nz-icon nzType="close"></span>
      </ng-template>
      </form>
      &nbsp;
      &nbsp;
      <button (click)="onAddNewMessage()" nz-button nzType="primary" style="margin-top: 10px;">Créer un message</button>
    </div>
</div>
