<div class="form-card">
  <div nz-row>
    <div nz-col nzSpan="23"><h2>Modifier le message</h2></div>
    <div nz-col nzSpan="1"><a><span (click)="dismiss()" nz-icon nzType="close" nzTheme="outline"></span></a></div>
  </div>
  <form [formGroup]="messageForm">
    <div class="form-group">
        <label for="content">Contenu</label>
        <textarea id="content" type="text" formControlName="content" rows="4">
        </textarea>
    </div>
    <div class="form-group">
        <label for="icon">Icone</label>
        <input id="icon" type="text" formControlName="icon" placeholder="Utilisez un emoji comme icone !">
    </div>
    <div class="form-group">
        <label for="link">Lien</label>
        <input id="link" type="text" formControlName="link">
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <input id="tags" type="text" formControlName="tags" placeholder="Séparez chaque tag par une virgule">
    </div>
    <div class="form-group">
        <label for="dueDate">Echéance</label>
        <input id="dueDate" type="date" formControlName="dueDate">
    </div>
    <div class="action-buttons">
        <button type="button" (click)="onSubmitForm()" [disabled]="messageForm.invalid" nz-button nzType="primary">Enregistrer</button>
    </div>
  </form>
</div>
